.contain {
    background-color: #f1f1f1;
}

.bloc-contain {
    height: 70vh;
}

.btn-connect {
    background-color: #25003aec;
}

.navbar {
    background-color: #25003ab8;
}

.body-home {
    background-color: #f1f1f1;
}

.modal-container {
    background-color: #25003a2c;
}