<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Accueil</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="body-home">
    <header class="min-w-full w-full bg-white fixed shadow-lg">
        <nav class="flex items-center px-28 py-5">

            <img src="../assets/img/7749636.jpg" alt="" class="w-12 cursor-pointer rounded-full">

            <ul class="flex-1 text-center list-none">
                <li class="px-8 py-2 inline-block rounded-lg bg-cyan-600 nav-item">
                    <a href="home.html" class="no-underline text-white text-lg">Accueil</a>
                </li>
                <li class="px-8 py-2 inline-block rounded-lg hover:bg-cyan-600 nav-item">
                    <a href="students.html" class="no-underline text-black text-lg">Élèves</a>
                </li>
                <li class="px-8 py-2 inline-block rounded-lg hover:bg-cyan-600 nav-item">
                    <a href="classes.html" class="no-underline text-black text-lg">Classes</a>
                </li>
                <li class="px-8 py-2 inline-block rounded-lg hover:bg-cyan-600 nav-item">
                    <a href="levels.html" class="no-underline text-black text-lg">Niveaux</a>
                </li>
            </ul>

            <i class="fa-solid fa-user text-black cursor-pointer text-3xl"></i>
        </nav>
    </header>

    <main class="pt-24">
        <div class="flex items-center justify-between w-full">
            <a></a>
            <h2 class="text-3xl text-cyan-900 text-center ml-48 mt-8">Années scolaires</h2>
            <button class="px-8 rounded-lg py-3 mr-8 bg-cyan-950 text-white">Ajouter une nouvelle année scolaire</button>
        </div>
        <section class="w-4/5 border-2 mx-auto mt-14 flex items-center flex-wrap px-10">
            <div class="w-72 h-72 border border-cyan-900 flex items-center justify-center text-6xl hover:bg-cyan-900 hover:text-white cursor-pointer mr-16 my-16">
                2023
            </div>

            <div class="w-72 h-72 border border-cyan-900 flex items-center justify-center text-6xl hover:bg-cyan-900 hover:text-white cursor-pointer mr-16 my-16">
                2022
            </div>

            <div class="w-72 h-72 border border-cyan-900 flex items-center justify-center text-6xl hover:bg-cyan-900 hover:text-white cursor-pointer mr-16 my-16">
                2021
            </div>

            <div class="w-72 h-72 border border-cyan-900 flex items-center justify-center text-6xl hover:bg-cyan-900 hover:text-white cursor-pointer mr-16 my-16">
                2020
            </div>

            <div class="w-72 h-72 border border-cyan-900 flex items-center justify-center text-6xl hover:bg-cyan-900 hover:text-white cursor-pointer mr-16 my-16">
                2019
            </div>
        </section>
    </main>
</body>

</html>