<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Aly</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="min-h-screen min-w-full shadow-2xl flex items-center justify-center contain">

        <div class="bg-white shadow-lg w-4/6 bloc-contain rounded-lg flex">
            <div class="h-full bg-slate-400 w-2/4 bg-[url('../assets/img/7749636.jpg')] bg-center bg-cover"></div>
            <div class="h-full w-2/4">
                <h1 class="text-4xl font-semibold text-center mt-20">Bienvenue</h1>
                <form method="post" class="w-full flex flex-col items-center mt-20">
                    <div class="input-group w-3/4 mb-12">
                        <label for="" class="w-full text-xl mb-4 inline-block">Téléphone</label>
                        <input type="text" name="" id="" class="w-full px-8 py-3 rounded-lg border-2 border-slate-400" placeholder="Téléphone">
                    </div>

                    <div class="input-group w-3/4">
                        <label for="" class="w-full text-xl mb-4 inline-block">Mot de passe</label>
                        <input type="text" name="" id="" class="w-full px-8 py-3 rounded-lg border-2 border-slate-400" placeholder="Mot de passe">
                    </div>

                    <a href="home.html" class="w-3/4 px-8 py-3 text-center mt-14 rounded-lg text-white btn-connect">se connecter</a>
                </form>
            </div>
        </div>

        
    </div>
</body>

</html>